* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
  background-color: #ffffff;
}

.container {
  width: 100vw;

}

/* WARNING HEADER======================================================= */
header {
  width: 100%;
}

/* HEADER_TOP______________________________________________________________ */
.header_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  color: black;
  border-bottom: 1px solid #f2f4f3;
}



.header_top .logo img {
  height: 40px;
}

.header_top .search {
  position: relative;

}

.header_top .search i {
  font-size: 13px;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.header_top .search input {
  min-width: 300px;
  padding: 10px;
  border-radius: 40px;
  background-color: #f2f4f3;
  border: 1px solid rgba(121, 121, 121, 0);
}

.header_top .questions span {
  font-weight: bold;
}

.header_top .user i {
  font-size: 22px;
  margin: 0px 10px;
}

.header_top span,
.header_top i,
.header_top .logo {
  cursor: pointer;
}

/* FINE HEADER_TOP______________________________________________________________ */


/* HEADER_NAV_________________________________________________________________ */

.header_nav {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav ul.nav_list {
  display: flex;
  justify-content: space-around;

}

.header_nav ul.nav_list li {
  list-style: none;
  color: #777777;
  cursor: pointer;
  padding: 0px 20px;
  font-weight: 500;
}

.header_nav ul.nav_list li:hover {
  color: black;
  transition: 0.3s;
}



/* FINE HEADER_NAV_________________________________________________________________ */
