* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.container {
  width: 100vw;

}

/* WARNING HEADER======================================================= */
header {
  width: 100%;
}

/* HEADER_TOP______________________________________________________________ */
.header_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  color: black;
  border-bottom: 1px solid #f2f4f3;
}



.header_top .logo img {
  height: 40px;
}

.header_top .search {
  position: relative;

}

.header_top .search i {
  font-size: 13px;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.header_top .search input {
  min-width: 300px;
  padding: 10px;
  border-radius: 40px;
  background-color: #f2f4f3;
  border: 1px solid rgba(121, 121, 121, 0);
}

.header_top .questions span {
  font-weight: bold;
}

.header_top .user i {
  font-size: 22px;
  margin: 0px 10px;
}

.header_top span,
.header_top i,
.header_top .logo {
  cursor: pointer;
}

/* FINE HEADER_TOP______________________________________________________________ */


/* HEADER_NAV_________________________________________________________________ */

.header_nav {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav .nav_list {
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.header_nav ul.nav_list li {
  line-height: 40px;
  list-style: none;
  color: #777777;
  cursor: pointer;
  padding: 0px 20px;
  font-weight: 500;
}

.header_nav ul.nav_list li:hover {
  color: black;
  transition: 0.3s;
}

.header_nav ul.nav_list li:nth-child(1),
.header_nav ul.nav_list li:nth-child(2),
.header_nav ul.nav_list li:last-child {
  position: relative;
}


.nav_drop {
  position: absolute;
  top: 30px;
  background-color: #ffffff;
  /* opacity: 0; */
  display: none;
}

.nav_drop ul {
  display: flex;
  flex-direction: column;
}

.nav_drop ul li {
  line-height: 50px;
}

.nav_list .nav_home:hover .nav_drop,
.nav_list .nav_shop:hover .nav_drop {
  /* opacity: 1; */
  display: block;
  transition: 0.3s;
  /* background-color: #59b742; */
  /* color: #ffffff; */
}

/* FINE HEADER_NAV_________________________________________________________________ */

.header_bottom {
  /* background-color: coral; */
  /* height: 50px; */
}

.header_bottom .services {
  height: 60px;
  width: 100%;
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f4f3;
}

.header_bottom .services .list_services {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0px 40px;

}
.header_bottom .services .list_services li {
  list-style: none;
  font-weight: 300;
}

.header_bottom .services .list_services li span {
  font-weight: 500;
}


/* JUMBOTRON______________________________________ */
.header_bottom .jumbotron {
  height: 600px;
  background-image: url("../img/jumbotron.webp");
  background-position: center;
  background-size: cover;
}

.header_bottom .jumbotron .jumbotron_box {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron_box p {
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron_box h1 {
  font-size: 50px;
  max-width: 50%;
  margin: 50px 0px;
}

.button_w {
  background-color: #ffffff;
  color: black;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
}
.button_w:hover {
  color: #ffffff;
  background-color: #28402b;
}

.button_g {
  background-color: #3d6f42;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
}
.button_g:hover {
  background-color: #28402b;
}


/* VISIT_SHOP____________________________________________________________ */

.header_bottom .visit_shop {
  height: 130px;
  width: 100%;
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f4f3;
}

.box_visit {
  height: 100%;
  margin: 0px 20px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.box_visit img {
  height: 100%;
}


.box_visit h2 {
  font-weight: 400;
}

.box_visit span {
  text-decoration: underline;
  cursor: pointer;
}

/* FINE HEADER=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* WARINING INIZIO MAIN=========================================== */

/* PRODUCTS______________________________________________________ */

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.products h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 70px;
}

.products p {
  max-width: 50%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.products .product_list {
  width: 80%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-basis: calc(100% / 5); */
}


.products .product_list li {
  list-style: none;
  flex-basis: calc(100% / 5);
  text-align: center;
  cursor: pointer;
}

.products .product_list li h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 22px;
}


/* lista mangimi */

.products .food_list {
  width: 80%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.products .food_list li {
  height: 500px;
  /* min-width: 300px */
  flex-grow: 1;
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}
.products .food_list li:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.products .food_list li:not(:last-child) {
  margin-right: 15px;
}

.products .food_list li h2 {
  margin-top: 20px;
  color: #ffffff;
}

.products .food_list li div {
  color: #599f63;
  font-size: 20px;
}

/* arrival */

.products .arrival {
  width: 80%;
  height: 500px;
  background-image: url("../img/banner-3-2x-scaled.jpg");
  background-size: cover;
  background-position: center;
}

.products .arrival .arrival_box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .arrival .arrival_box div {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.products .arrival .arrival_box h2 {
  font-size: 50px;
  color: #ffffff;
  margin: 40px 0px;
}

/* ITEMS______________________________________________________________________ */

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items .items_title {
  width: 80%;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items .items_title .box_title p {
  font-size: 20px;
  color: #49784d;
}

.items .items_title .box_title h2 {
  font-size: 40px;
  margin-top: 20px;
  font-weight: 500;
}


.items .items_list {
  width: 80%;
}

.items .items_list ul {
  /* width: 80%; */
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-basis: calc(100% / 5); */
}


.items .items_list ul li {
  list-style: none;
  flex-basis: calc(100% / 5);
  text-align: center;
  cursor: pointer;
}


.items .items_list ul li .cover_img {
  height: 300px;
  position: relative;
}
.items .items_list ul li img {
  height: 300px;
}

.items .items_list ul li .cover_img .click_item {
  width: 100%;
  height: 100%;
  background-color: rgba(113, 75, 35, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  opacity: 0;
  transition: 0.3s;
}
.items .items_list ul li .cover_img .click_item:hover {
  opacity: 1;
}

.items .items_list ul li .cover_img .click_item span {
  text-transform: uppercase;
}

.items .items_list li h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 22px;
}
.items .items_list li h3:hover {
  color: #28402b;
  transition: 0.2s
}

.items .items_list ul li p {
  color: #49784d;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}

.items .items_list ul li p .old_price {
  font-size: 15px;
  text-decoration: line-through;
}

/* TESTIMONIALS________________________________________________________________ */

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fcfbfa;

}

.testimonials .box_testimonials {
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  color: #ffffff;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.testimonials .box_testimonials h2 {
  font-size: 50px;
  font-weight: 400;
}


.testimonials .box_testimonials ul.testimonials_list {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.testimonials .box_testimonials ul.testimonials_list li {
  flex-basis: calc(100% / 3);
  text-align: center;
  list-style: none;
}

.testimonials .box_testimonials ul.testimonials_list li img {
  height: 110px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonials .box_testimonials ul.testimonials_list li p {
  line-height: 35px;
  margin-bottom: 30px;
}

.testimonials .box_testimonials ul.testimonials_list li span {
  color: #9ca481;
}


/* NEWSLETTER____________________________________________ */

.box_newsletter {
  width: 80%;
  height: 400px;
  background-image: url("../img/banner-7-2x-scaled.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
  margin-top: -40px;
}

.box_newsletter h2,
.box_newsletter p,
.box_newsletter .subs_box {
  max-width: 50%;
}

.box_newsletter h2 {
  font-size: 50px;
  font-weight: 400;
}

.box_newsletter p {
  margin: 40px 0px;
  line-height: 30px;
}

.box_newsletter .subs_box input {
  min-width: 300px;
  padding: 10px;
  border-radius: 40px;
  background-color: #f2f4f3;
  border: 1px solid rgba(121, 121, 121, 0);
}

/* TIPS__________________________________________________________________ */

.tips {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tips .tips_title h2 {
  font-size: 40px;
  font-weight: 400;
}

.tips .tips_title p {
  color: #49784d;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
}

.tips .tips_list {
  width: 80%;
}

.tips .tips_list ul {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tips .tips_list ul li {
  list-style: none;
  flex-basis: calc(100% / 5);
  text-align: center;
  cursor: pointer;
}

.tips .tips_list ul li .cover_img {
  height: 300px;
  position: relative;
}

.tips .tips_list ul li img {
  height: 300px;
}

.tips .tips_list ul li .cover_img .click_item {
  width: 100%;
  height: 100%;
  background-color: rgba(113, 75, 35, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  opacity: 0;
  transition: 0.3s;
}
.tips .tips_list ul li .cover_img .click_item:hover {
  opacity: 1;
}

.tips .tips_list ul li .cover_img .click_item .blog_title {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.tips .tips_list ul li h3 {
  line-height: 20px;
  margin: 20px 0px;
}

/* FIND_INFO _____________________________________________________________ */

.find_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find_info .info_merch {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find_info .info_merch .toy_merch,
.find_info .info_merch .food_merch {
  flex-basis: calc(50% - 1px);
  background-color: #1e3020;
  position: relative;
  transition: 0.3s;
}
.find_info .info_merch .toy_merch:hover,
.find_info .info_merch .food_merch:hover {
  transform: scale(1.01);
}

.find_info .info_merch .merch_img img {
  width: 100%;
}

.find_info .info_merch .merch_info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.merch_info p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.merch_info h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 30px 0px;
}





.find_info .info_services {
  width: 100%;
  height: 200px;
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.find_info .info_services ul.list_services {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.find_info .info_services ul.list_services li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.find_info .info_services ul.list_services li i {
  font-size: 40px;
  margin-bottom: 30px;
}


/* NEW_PRODUCTS__________________________________________________ */
.new_products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_products h2 {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 500;
}

.new_products span {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #49784d;
}

.new_products ul.arrival_list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.new_products ul.arrival_list li {
  list-style: none;
  flex-basis: 30%;
  text-align: center;
  cursor: pointer;
}
