* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.container {
  width: 100vw;

}

/* WARNING HEADER======================================================= */
header {
  width: 100%;
}

/* HEADER_TOP______________________________________________________________ */
.header_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  color: black;
  border-bottom: 1px solid #f2f4f3;
}



.header_top .logo img {
  height: 40px;
}

.header_top .search {
  position: relative;

}

.header_top .search i {
  font-size: 13px;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.header_top .search input {
  min-width: 300px;
  padding: 10px;
  border-radius: 40px;
  background-color: #f2f4f3;
  border: 1px solid rgba(121, 121, 121, 0);
}

.header_top .questions span {
  font-weight: bold;
}

.header_top .user i {
  font-size: 22px;
  margin: 0px 10px;
}

.header_top span,
.header_top i,
.header_top .logo {
  cursor: pointer;
}

/* FINE HEADER_TOP______________________________________________________________ */


/* HEADER_NAV_________________________________________________________________ */

.header_nav {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav .nav_list {
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.header_nav ul.nav_list li {
  line-height: 40px;
  list-style: none;
  color: #777777;
  cursor: pointer;
  padding: 0px 20px;
  font-weight: 500;
}

.header_nav ul.nav_list li:hover {
  color: black;
  transition: 0.3s;
}

.header_nav ul.nav_list li:nth-child(1),
.header_nav ul.nav_list li:nth-child(2),
.header_nav ul.nav_list li:last-child {
  position: relative;
}


.nav_drop {
  position: absolute;
  top: 30px;
  background-color: #ffffff;
  /* opacity: 0; */
  display: none;
}

.nav_drop ul {
  display: flex;
  flex-direction: column;
}

.nav_drop ul li {
  line-height: 50px;
}

.nav_list .nav_home:hover .nav_drop,
.nav_list .nav_shop:hover .nav_drop {
  /* opacity: 1; */
  display: block;
  transition: 0.3s;
  /* background-color: #59b742; */
  /* color: #ffffff; */
}

/* FINE HEADER_NAV_________________________________________________________________ */

.header_bottom {
  /* background-color: coral; */
  /* height: 50px; */
}

.header_bottom .services {
  height: 60px;
  width: 100%;
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f4f3;
}

.header_bottom .services .list_services {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0px 40px;

}
.header_bottom .services .list_services li {
  list-style: none;
  font-weight: 300;
}

.header_bottom .services .list_services li span {
  font-weight: 500;
}


/* JUMBOTRON______________________________________ */
.header_bottom .jumbotron {
  height: 600px;
  background-image: url("../img/jumbotron.webp");
  background-position: center;
  background-size: cover;
}

.header_bottom .jumbotron .jumbotron_box {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron_box p {
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron_box h1 {
  font-size: 50px;
  max-width: 50%;
  margin: 50px 0px;
}

.button_w {
  background-color: #ffffff;
  color: black;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
}
.button_w:hover {
  color: #ffffff;
  background-color: #28402b;
}


/* VISIT_SHOP____________________________________________________________ */

.header_bottom .visit_shop {
  height: 130px;
  width: 100%;
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f4f3;
}

.box_visit {
  height: 100%;
  margin: 0px 20px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.box_visit img {
  height: 100%;
}


.box_visit h2 {
  font-weight: 400;
}

.box_visit span {
  text-decoration: underline;
  cursor: pointer;
}

/* FINE HEADER=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* WARINING INIZIO MAIN=========================================== */

/* PRODUCTS______________________________________________________ */

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.products h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 70px;
}

.products p {
  max-width: 50%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.products .product_list {
  width: 80%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-basis: calc(100% / 5); */
}


.products .product_list li {
  list-style: none;
  flex-basis: calc(100% / 5);
  text-align: center;
  cursor: pointer;
}

.products .product_list li h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 22px;
}


/* lista mangimi */

.products .food_list {
  width: 80%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.products .food_list li {
  height: 500px;
  /* min-width: 300px */
  flex-grow: 1;
  background-image: url("../img/bg-transparent-3.png");
  background-repeat: repeat-x;
  background-position: top;
  background-color: #1e3020;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}
.products .food_list li:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.products .food_list li:not(:last-child) {
  margin-right: 15px;
}

.products .food_list li h2 {
  margin-top: 20px;
  color: #ffffff;
}

.products .food_list li div {
  color: #599f63;
  font-size: 20px;
}

/* arrival */

.products .arrival {
  width: 80%;
  height: 500px;
  background-image: url("../img/banner-3-2x-scaled.jpg");
  background-size: cover;
  background-position: center;
}

.products .arrival .arrival_box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .arrival .arrival_box div {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.products .arrival .arrival_box h2 {
  font-size: 50px;
  color: #ffffff;
  margin: 40px 0px;
}
