<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Pet Supplies - Yurada</title>
        <!-- link fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <!-- Link AXIOS/AJAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <!-- Link Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <!-- link google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

      <div id="app" class="container">

          <div class="scroll_up" @v-scroll="updateScroll"  :class="{none : scrollPosition < 692}">
            <i class="fas fa-chevron-up" @click="top"></i>
          </div>

        <header>

          <section class="header_top">
            <div class="logo">
              <img src="img/dark-pet-logo.png" alt="img_logo">
            </div>
            <!-- fine box logo -->

            <div class="search">
              <i class="fas fa-search"></i>
              <input type="text" name="" value="">
            </div>
            <!-- fine box search -->

            <div class="questions">
              <span>Questions? </span>Call us : 1.800.123.4567

            </div>
            <!-- fine box questions -->

            <div class="user">
              <i class="far fa-user"></i>
              <i class="fas fa-shopping-bag"></i>
            </div>
            <!-- fine box user -->
          </section>
          <!-- fine header_top -->

          <section class="header_nav" @v-scroll="updateScroll"  :class="{sticky_nav : scrollPosition > 73}">

            <!-- lista nav header creata con vue -->
            <ul class="nav_list">
              <li v-for="(what, index) in whatSelect" :class="(index == indexSelected) ? 'clicked' : ''" @click="showWhat(index)">{{what}} <i class="fas fa-chevron-down"></i></li>
            </ul>



          </section>
          <!-- fine header_nav -->

          <section class="header_bottom">

            <div class="services">

              <ul class="list_services">
                <li><span><i class="far fa-map"></i> International</span> Shipping Services</li>
                <li><span><i class="far fa-clock"></i></span> See our <span>store hours</span> and services</li>
                <li><span><i class="fas fa-check"></i></span> We price match to give you the <span>best deals</span></li>
              </ul>

              <div class="demos" @v-scroll="updateScroll" :class="{sticky_demos : scrollPosition > 73}">
                <i class="far fa-folder-open"></i>
                <span>Demos</span>
              </div>

              <div class="by_now" @v-scroll="updateScroll" :class="{sticky_buy : scrollPosition > 75}">
                <i class="fas fa-shopping-cart"></i>
                <span>Buy Now</span>
              </div>

            </div>
            <!-- fine services -->

            <div class="jumbotron">

              <div class="jumbotron_box">
                <p>find the best animal supplies</p>
                <h1>We know animals are a part of your family, let us help take care of them.</h1>
                <div>
                  <span class="button_w">Learn more about us</span>
                </div>
              </div>

            </div>
            <!-- fine jumbotron -->

            <div class="visit_shop" @v-scroll="updateScroll" :class="{sticky_shop : scrollPosition > 675}">
              <div class="box_visit">
                <img src="img/food-transparent-5.png" alt="">
              </div>

              <div class="box_visit">
                <h2>Get $25 OFF your first purchase of our homemade per food!</h2>
              </div>

              <div class="box_visit">
                <span>Visit the shop</span>
              </div>
            </div>
            <!-- fine visit_shop -->

          </section>
          <!-- fine header_bottom -->

        </header>
        <!-- fine header -->


        <main>

          <section class="products">
            <h2>Browse by category</h2>
            <p>Augue purus et, tincidunt condimentum mauris. At nibh ruturm mi in. Nisi, vitae interdum eleifend dui, consequat nulla rhoncus dictum. Viverra.</p>
            <ul class="product_list">
              <li>
                <img src="img/cuccia300.jpg" alt="">
                <h3>Bed (1)</h3>
              </li>
              <li>
                <img src="img/osso300.jpg" alt="">
                <h3>Food (6)</h3>
              </li>
              <li>
                <img src="img/palline300.jpg" alt="">
                <h3>Toys (6)</h3>
              </li>
              <li>
                <img src="img/borsa300.jpg" alt="">
                <h3>Transport (7)</h3>
              </li>
            </ul>

            <ul class="food_list">
              <li>
                <h2>Kibble</h2>
                <div>Dry dog food</div>
                <img src="img\food-transparent-18-200x210.png" alt="">
                <span class="button_g">Learn more about us</span>
              </li>
              <li>
                <h2>Kibble</h2>
                <div>Dry dog food</div>
                <img src="img\food-transparent-17-200x210.png" alt="">
                <span class="button_g">Learn more about us</span>
              </li>
              <li>
                <h2>Kibble</h2>
                <div>Dry dog food</div>
                <img src="img\food-transparent-16-200x210.png" alt="">
                <span class="button_g">Learn more about us</span>
              </li>
            </ul>

            <div class="arrival">
              <div class="arrival_box">
                <div>Find the best animal supplies</div>
                <h2>New arrivals weekly</h2>
                <span class="button_w">Learn more about us</span>
              </div>
            </div>
          </section>
          <!-- fine products -->

          <section class="items">
            <div class="items_title">
              <div class="box_title">
                <p>All-time best sellers</p>
                <h2>Items everyone loves</h2>

              </div>

              <span class="button_g">Learn more about us</span>
            </div>

            <div class="items_list">
              <ul>

                <li>
                  <div class="cover_img">
                    <img src="img\product-21-400x400.jpg" alt="">
                    <div class="click_item">
                      <span>add to cart </span> / <span> quick view</span>
                    </div>
                  </div>
                  <h3>Transport cage</h3>
                  <p>$25.00</p>
                </li>

                <li>
                  <div class="cover_img">
                    <img src="img/product-20-400x400.jpg" alt="">
                    <div class="click_item">
                      <span>add to cart </span> / <span> quick view</span>
                    </div>
                  </div>
                  <h3>Dog leash</h3>
                  <p>$25.00</p>
                </li>

                <li>
                  <div class="cover_img">
                    <img src="img/product-16-400x400.jpg" alt="">
                    <div class="click_item">
                      <span>add to cart </span> / <span> quick view</span>
                    </div>
                  </div>
                  <h3>Animal transport cage</h3>
                  <p><span class="old_price">$25.00</span> $12.00</p>
                </li>

                <li>
                  <div class="cover_img">
                    <img src="img\product-11-400x400.jpg" alt="">
                    <div class="click_item">
                      <span>add to cart </span> / <span> quick view</span>
                    </div>
                  </div>
                  <h3>Colorful cat leash</h3>
                  <p>$12.00</p>
                </li>
              </ul>
            </div>

          </section>
          <!-- fine items -->

          <section class="testimonials">
            <div class="box_testimonials">
              <h2>Users testimonials</h2>
              <ul class="testimonials_list">
                <li>
                  <img src="img\avatar-1-200x200.jpg" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  <span>Lisa Smith, ThemeFusion</span>
                </li>
                <li>
                  <img src="img\avatar-3-200x200.jpg" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  <span>Lisa Smith, ThemeFusion</span>
                </li>
                <li>
                  <img src="img\avatar-4-200x200.jpg" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <span>Lisa Smith, ThemeFusion</span>
                </li>
              </ul>
            </div>
            <!-- fine box testimonials -->
            <div class="box_newsletter">
              <h2>Join our newsletter</h2>
              <p>Iscriviti alla nostra newsletter per rimanere sempre aggiornato su tutti i nostri prodotti, specialmente per i nuovi arrivi</p>
              <div class="subs_box">
                <input type="text" name="" value="" placeholder="Insert your email ...*">
                <label for=""><span class="button_g">Subscribe</span></label>
              </div>
            </div>

          </section>
          <!-- fine testimonials -->

          <section class="tips">
            <div class="tips_title">
              <h2>Get the best tips & tricks</h2>
              <p>Recent Articles</p>
            </div>

            <div class="tips_list">
              <ul>

                <li>
                  <div class="cover_img">
                    <img src="img/blog-1-400x400.jpg" alt="">
                    <div class="click_item">
                      <div class="blog_title">How to 'loose leash walk'your dog</div>
                      <div>Tips & tricks</div>
                    </div>
                  </div>
                  <h3>How to 'loose leash walk'your dog</h3>
                  <p>Data</p>
                </li>

                <li>
                  <div class="cover_img">
                    <img src="img/blog-2-400x400.jpg" alt="">
                    <div class="click_item">
                      <div class="blog_title">Stop cats from scratching furniture</div>
                      <div>Tips & tricks</div>
                    </div>
                  </div>
                  <h3>Stop cats from scratching furniture</h3>
                  <p>$Date</p>
                </li>

                <li>
                  <div class="cover_img">
                    <img src="img/blog-3-400x400.jpg" alt="">
                    <div class="click_item">
                      <div class="blog_title">Where to buy the best pet food to eat a lot</div>
                      <div>Tips & tricks</div>
                    </div>
                  </div>
                  <h3>Where to buy the best pet food to eat a lot</h3>
                  <p>Date</p>
                </li>

                <li>
                  <div class="cover_img">
                    <img src="img/blog-4-400x400.jpg" alt="">
                    <div class="click_item">
                      <div class="blog_title">Proper care for your pet toys for play</div>
                      <div>Tips & tricks</div>
                    </div>
                  </div>
                  <h3>Proper care for your pet toys for play</h3>
                  <p>Date</p>
                </li>

              </ul>
            </div>

            <span class="button_g">Read all articles</span>
          </section>
          <!-- fine tips -->

          <section class="find_info">
            <div class="info_merch">
              <div class="toy_merch">
                <div class="merch_img">
                  <img src="img/banner-8-2x.jpg" alt="">
                </div>
                <div class="merch_info">
                  <p>find the best animal supplies</p>
                  <h2>Popular accessories</h2>
                  <span class="button_w">View all toys accessories</span>
                </div>

              </div>

              <div class="food_merch">
                <div class="merch_img">
                  <img src="img/banner-9-2x.jpg" alt="">
                </div>
                <div class="merch_info">
                  <p>find the best food</p>
                  <h2>New food arrival</h2>
                  <span class="button_w">View all food products</span>
                </div>
              </div>
            </div>
            <div class="info_services">
              <ul class="list_services">

                <li>
                  <i class="fas fa-truck"></i>
                  <span>Free worldwide deliveries</span>
                </li>

                <li>
                  <i class="far fa-map"></i>
                  <span>Find stores near you</span>
                </li>

                <li>
                  <i class="fas fa-dollar-sign"></i>
                  <span>Best prices guaranteed</span>
                </li>

                <li>
                  <i class="far fa-credit-card"></i>
                  <span>all credit card accepted</span>
                </li>

              </ul>

            </div>
          </section>
          <!-- fine info -->

          <section class="new_products">

            <h2>New products arrival</h2>
            <span>Latest Product</span>

            <ul class="arrival_list">
              <li>
                <div class="cover_img">
                  <img src="img/product-2-500x500.jpg" alt="">
                  <div class="click_item">
                    <ul class="star_list">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div><span>add to cart </span> / <span> quick view</span></div>
                  </div>
                </div>
                <h3>Transport cage</h3>
                <p>$25.00</p>
              </li>

              <li>
                <div class="cover_img">
                  <img src="img/product-3-500x500.jpg" alt="">
                  <div class="click_item">
                    <ul class="star_list">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div><span>add to cart </span> / <span> quick view</span></div>
                  </div>
                </div>
                <h3>Dog leash</h3>
                <p>$25.00</p>
              </li>

              <li>
                <div class="cover_img">
                  <img src="img/product-4-500x500.jpg" alt="">
                  <div class="click_item">
                    <ul class="star_list">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div><span>add to cart </span> / <span> quick view</span></div>
                  </div>
                </div>
                <h3>Animal transport cage</h3>
                <p>$12.00</p>
              </li>

              <li>
                <div class="cover_img">
                  <img src="img/product-5-500x500.jpg" alt="">
                  <div class="click_item">
                    <ul class="star_list">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div><span>add to cart </span> / <span> quick view</span></div>
                  </div>
                </div>
                <h3>Colorful cat leash</h3>
                <p>$12.00</p>
              </li>

              <li>
                <div class="cover_img">
                  <img src="img/product-8-500x500.jpg" alt="">
                  <div class="click_item">
                    <ul class="star_list">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div><span>add to cart </span> / <span> quick view</span></div>
                  </div>
                </div>
                <h3>Colorful cat leash</h3>
                <p>$12.00</p>
              </li>

              <li>
                <div class="cover_img">
                  <img src="img/product-10-500x500.jpg" alt="">
                  <div class="click_item">
                    <ul class="star_list">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div><span>add to cart </span> / <span> quick view</span></div>
                  </div>
                </div>
                <h3>Colorful cat leash</h3>
                <p>$12.00</p>
              </li>

            </ul>

          </section>
          <!-- fine new_products -->

        </main>
        <!-- fine main -->


        <footer>

          <section class="footer_top">

            <div class="info_company">
              <div class="footer_logo">
                <img src="img\mobile-light-pet-logo-2x-400x105.png" alt="logo">
                <div>1234 Avada Avenue Avadaville</div>
                <div>info@your-company.com</div>
                <div>Call us: (1) 234 5678</div>
              </div>

            </div>
            <!-- fine info company -->

            <div class="shop_by">
              <h2>Shop by brand</h2>
              <ul>
                <li>Bed</li>
                <li>Food</li>
                <li>Toys</li>
                <li>Transport</li>
              </ul>
            </div>
            <!-- fine shop vby brand -->

            <div class="links">
              <h2>Useful links</h2>
              <ul>
                <li>My Account</li>
                <li>Orders</li>
                <li>Checkout</li>
                <li>Cart</li>
              </ul>
            </div>
            <!-- fine links -->

            <div class="subscribe">
              <div><h2>Subscribe to our newsletter</h2></div>
              <div><input type="text" name="" value="" placeholder="Insert your email ...*"></div>
              <div><span class="button_g">Subscribes</span></div>
            </div>
            <!-- fine subscribes -->

          </section>
          <!-- fine footer_top -->

          <section class="info_social">
            <div class="nav_footer">
              <ul>
                <li v-for="(what, index) in whatSelect" :class="(index == indexSelected) ? 'clicked' : ''" @click="showWhat(index)">{{what}}</li>
              </ul>
            </div>

            <div class="nav_social">
              <ul>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-github"></i></li>
              </ul>
            </div>
          </section>
          <!-- fine info_social -->

          <section class="footer_bottom">
            <p>&copy; Copyright 2020 - 2021 | Yuri Theme by AvadaThemeFusion | All Rights Reserved | Powered by Yuri</p>
          </section>
          <!-- fine footer_bottom -->

        </footer>
        <!-- fine footer -->



      </div>
      <!-- / container principale -->

        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
